@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  /* 10px */
  font-size: 62.5%;
}

body {
  /* 16px */
  font-size: 1.6rem;
  font-family: 'Pretendard Variable', sans-serif;
  padding-top: 5.4rem;
}

.tab-trigger {
  @apply bg-gray-100;
}

.tab-trigger[data-state='active'] {
  @apply text-gray-100 bg-main-600;
}

.minitab-trigger {
  @apply border-b-2 border-gray-200 text-gray-700;
}

.minitab-trigger[data-state='active'] {
  @apply border-b-2 border-main-600 text-main-600;
}

@keyframes custom-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.custom-spin {
  animation: custom-spin 1.35s linear infinite;
}

@keyframes custom-ping {
  75%,
  100% {
    transform: scale(1.8);
    opacity: 0;
  }
}

.custom-ping {
  animation: custom-ping 1.4s linear infinite;
}

@layer components {
  .select-arrow {
    @apply appearance-none bg-select bg-no-repeat bg-right-arrow bg-2;
  }
}
